# Hjort-ratos-overrides printer.cfg
# This file includes V-Core4-specific overrides for RatOS/Klipper.
# It includes the V-Core4 machine config and defines input shaper
# and chamber heater settings.

[include hjort.cfg]
[input_shaper]
shaper_freq_x: 60.0
shaper_freq_y: 38.2
shaper_type_x: zv
shaper_type_y: mzv
[heater_generic chamber_heater]
control: pid                                             # PID closed-loop temperature control
pid_kp: 27.278                                           # Tuned PID gain (P)
pid_ki: 2.302                                            # Tuned PID gain (I)
pid_kd: 80.812                                           # Tuned PID gain (D)
